<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression Suit">
	<test name="Sucessfull login">
		<classes>
			<class name="br.com.framework.tests.web.TestsLoginPage" />
		</classes>
	</test>
	<test name="Login failed">
		<classes>
			<class name="br.com.framework.tests.web.TestsLoginWrongCredentials" />
		</classes>
	</test>

</suite>